{% extends "base.html" %} 
<!--name of the page that will be shown on the tab-->
{% block title %}Notes{% endblock %}

<!--
<h1 align="center">Notes</h1>
<br>
<ul class="list-group li-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.note }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
-->
{% block content %}
<br>
<br>
<h1 class="welcome">Welcome to <span class="mindme">MindMe</span>, {{user.username}} ッ</h1>
<br>
<h1 class="notes">Notes</h1>
<br>
<div align="center">
    <a class=" btn btn-sm notelink" href="#note">Add a note</a>
    <a class=" btn btn-sm notelink" href="#end">Scroll down</a>
</div>
<br>
<br>
<ul class="list-group li-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.note }}
        <br>
        <br>
        <!--Delete Button-->
        <button type="button" class="btn btndeletenote btn-sm" onClick="deleteNote({{ note.id }})">
            Delete
        </button>

        <!--Edit Button-->
        <button type="button" class="btn btn-warning btnupdate btn-sm" data-toggle="modal" data-target="#editNoteModal{{ note.id }}">
            Edit
        </button>

        <!--Editing Notes -->
        <div class="modal fade" id="editNoteModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel{{ note.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editNoteModalLabel{{ note.id }}">Edit Note</h5>
                        <button type="button" class="close modalbtt" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="x-btt">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/update-note/{{ note.id }}" method="POST" >
                            <textarea name="note" class="form-control" required>{{ note.note }}</textarea>
                            <br>
                            <button type="submit" class="btn buttonsubmit">Update Note</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <br>
    {% endfor %}
</ul>
<div>
    <p id="end"></p>
</div>
<br>
<form method="POST">
    <textarea name="note" id="note" class="form-control"  placeholder="Write here..."></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn buttonsubmit">Add Note</button>
    </div>
</form>
<br>
<br>
{% endblock %}
