{% extends "base.html" %} 
<!--name of the page that will be shown on the tab-->
{% block title %}Login{% endblock %}

{% block content %}

<!--var that I want to be pass from auth.py
{{ test }}-->
 <br>
 <br>
<div class="login container">
<form method="POST">
    <h3 align="center" class="welcome">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <!--we use the name of the input to define it in other files-->
        <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn buttonsubmit">Login</button>
    </div>
</form>
</div>
<br>
<br>
{% endblock %}