{% extends "base.html" %} 
<!--name of the page that will be shown on the tab-->
{% block title %}SignUp{% endblock %}

{% block content %}
<br>
<br>
<h1 class="welcome">Welcome to <span class="mindme">MindMe</span></h1>
<br>
<div class="login container">
<form method="POST">
    <h3 align="center" class="welcome">Sign Up</h3>
    <br>
    <div class="form-group">
        <label for="email">Email Address</label>
        <!--we use the name of the input to define it in other files-->
        <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Your Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="At least 6 characters password">
    </div>
    <div class="form-group">
        <label for="passconfirm">Password (Confirm)</label>
        <input type="password" class="form-control" id="passconfirm" name="passconfirm" placeholder="Rewrite password correctly">
    </div>
    <br>
    <br>
    <div align="center">
        <button type="submit" class="btn buttonsubmit">Submit</button>
    </div>
</form>
</div>
<br>
<br>
{% endblock %}