{% extends "base.html" %} 
<!--name of the page that will be shown on the tab-->
{% block title %}ToDo{% endblock %}

{% block content %}
<h1 align="center">{{ list.list }}'s Tasks</h1>
<br>
<ul>
   {% for task in list.task %}
        <li>
            <!--style="{% if task.completed %}text-decoration: line-through;{% endif %}"
            <form action="/toggle-task/{{ task.id }}" method="POST" style="display:inline;">
                <input 
                    type="checkbox" 
                    name="completed" 
                    onchange="this.form.submit();" 
                    {% if task.completed %}checked{% endif %}>-->
            {{ task.task }}
            <form action="/delete-task/{{ task.id }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            <form action="/update-task/{{ task.id }}" method="POST" style="display:inline;">
                <input type="text" name="new_task_content" placeholder="Edit task" required>
                <button type="submit" class="btn btn-warning btn-sm">Update</button>
            </form>
        </li>
    {% endfor %}
</ul>
<br>
<br>
<h3>Add new task</h3>
<form action="/todo/{{ list.id }}" method="POST">
    <div>
        Task: <input type="text" id="task" name="task">
        <br>
        <br>
        <input type="submit" value="Add Task">
    </div>
</form>
{% endblock %}