{% extends "base.html" %} 
<!--name of the page that will be shown on the tab-->
{% block title %}ToDo{% endblock %}

{% block content %}
<h1 align="center">To Do Lists</h1>
<br>
<ul>
    {% for list in user.list %}
        <h3>
            <li>
                <a href="/todo/{{ list.id }}">{{ list.list }}</a>
                <form action="/delete-list/{{ list.id }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <form action="/update-list/{{ list.id }}" method="POST" style="display:inline;">
                    <input type="text" name="new_list_name" placeholder="Edit list name" required>
                    <button type="submit" class="btn btn-warning btn-sm">Update</button>
                </form>
            </li>
        </h3>
    {% endfor %}
</ul>
<br>
<br>
<h3>Add new List</h3>
<form action="/todo" method="POST">
    <div>
        List name: <input type="text" id="list" name="list">
        <br>
        <br>
        <input type="submit" value="Add List">
    </div>
</form>
{% endblock %}